h1{
	width: 16%;
	margin: auto;
	margin-top: 10px;
}

p{
	text-align: center;
}

h2{
	margin-bottom: 50px;
}

video{
	margin-left: 500px;
	margin-top: 10px;
	margin-bottom: 30px;
}

body{background: url('fond_autresnoeuds.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}