#er{
  font-size: 0
}

#azerty{
  padding-left: 1050px;
  padding-right: 20px;
}

#div1,#div2,#div3,#div4,#div5,#div6,#div7{
  width: 90%;
  padding-bottom: 30px;
  text-align: center;
}

p{
	text-align: center;
}

.image{
	padding-left: 500px;
}

h1{
	margin: 20px;
}

body{background: url('fond_fabrication.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#div7{
	margin-bottom: 30px;
}