body{
	background: url('fond_accueil.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.blabla{
	color: rgba(0,0,0,0);
	font-size: 36px;
	padding-bottom: 57px;
}

h1{
	width: 10%;
	margin: auto;
	margin-top: 10px;
}

h2{
	width: 95%
}