h1{
	width: 16%;
	margin: auto;
	margin-top: 10px;
}

p{
	text-align: center;
}

h2{
	margin-bottom: 50px;
}

video{
	margin-top: 20px;
	margin-bottom: 50px;
}

body{background: url('fond_autresnoeuds.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.taquet{
	margin-bottom: 30px; 
}

@media screen and (max-width: 440px){
video{
	width: 150px;

}