.blabla{
	color: rgba(0,0,0,0);
	font-size: 50px;
}

body{background: url('fond_utilisation.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	width: 33%;
	margin: auto;
	margin-top: 10px;
}

.utilisation{
	width: 95%;
	padding-left: 20px;
	color: black;
}